@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

:root{
    --corBackground: #D0E4FC;
    --corAzulMaisEscuro: #9BC0EB;
    --corBotao:#4481C5;
    --fontPrincipal: 'Roboto'; 
}

*, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--corBackground);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: 'Roboto';
}
body nav{
    width: 100%;
    height: 15vh;
    min-height: 80px;
    max-height: 150px;
    background-color: var(--corAzulMaisEscuro);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
nav span{
    width: 50%;
}
nav a{
    width: 30%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
nav a img{
    height: 100%;
}
main{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main header{
    width: 90%;
    min-width: 320px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}
main header figure{
    width: 90%;
}
main header figure img{
    width: 100%;
}
main section{
    width: 90%;
    min-width: 320px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
main section article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    padding: 20px;
}
main section aside{
    display: none;
}
@media (min-width: 767px) and (max-width: 1023px){
    header h1{
        width: 30%;
        text-align: center;
        font-size: 1.75rem;
    }
    header figure{
        width: 55%;
        min-width: 200px;
    }
    #categorias article a{
        width: 50%;
        max-width: 250px;
    }
    #Materias article{
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    #Materias aside{
        background-color: aliceblue;
        height: auto;
        width: 20%;
        display: block;
    }
    #Materias a{
        width: 40%;
    }
    #Materias article #asideMobile{
        display: none;
    }
}
@media (min-width: 1024px){
    header h1{
        width: 30%;
        text-align: center;
        font-size: 1.75rem;
    }
    header figure{
        width: 55%;
        min-width: 200px;
    }
    #categorias article a{
        width: 35%;
    }
    #Materias article{
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    #Materias aside{
        background-color: aliceblue;
        height: auto;
        width: 20%;
        display: block;
    }
    #Materias a{
        width: 45%;
    }
    #Materias article #asideMobile{
        display: none;
    }
}