@charset "UTF-8";

@font-face {
    font-family: 'Archivo_Narrow';
    src: url('../Fonts/Archivo_Narrow/ArchivoNarrow-VariableFont_wght.ttf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../Fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('opentype');
    font-style: normal;
    font-weight: 600;
}

:root {
    --corBackground: #D0E4FC;
    --corAzulMaisEscuro: #9BC0EB;
    --corBotao: #4481C5;
    --fontTexto: 'Archivo_Narrow';
    --fontTitulo: 'Montserrat';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--corBackground);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

body p,
a,
ul,
li,
strong {
    font-family: var(--fontTexto);
}

body h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--fontTitulo);
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}

body::-webkit-scrollbar-thumb {
    background-color: #94d8ff;
    border-radius: 20px;
}

body nav {
    width: 100%;
    height: 80px;
    background-color: var(--corAzulMaisEscuro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    box-shadow: 1px 1px 20px #9BC0EB;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav img {
    height: 100%;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.3em;
    margin: 8px 15px;
    padding-bottom: 5px;
    background: linear-gradient(var(--corBotao) 0%, var(--corBotao) 98%);
    background-size: 0px 2px;
    background-repeat: no-repeat;
    background-position: left 90%;
}

nav ul li a.active,
nav ul li a:hover {
    color: #000000;
    transition: 0.3s;
    background-size: 100% 2px;
    text-shadow: 2px 3px 10px #4480c5c4;
}

nav #MenuHam {
    cursor: pointer;
    height: 50px;
    display: none;
}

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    height: 200px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 15px;
    background-image: url('../IMG/Logos/LogoComFundoAzulBanner.jpg');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
}
header h1{
    font-size: 1rem;
    width: 40%;
    text-align: center;
}
#Newsletter {
    width: 100%;
    background-color: var(--corBotao);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px 0px;
}

#Newsletter h1,
p {
    margin: 5px;
}

#Newsletter span {
    font-size: 1.75rem;
}

#Newsletter form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#Newsletter form input {
    width: 80%;
    height: 40px;
    margin: 10px;
    padding: 5px;
    border: 1px solid #94d8ff;
    border-radius: 5px;
}

footer {
    width: 100%;
    padding: 15px;
    background-color: var(--corAzulMaisEscuro);
}

footer p {
    font-size: 0.9rem;
    margin-top: 20px;
    text-align: center;
}

footer #containerF {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    font-size: 1rem;
}

footer #Empresa {
    width: 100%;
    text-align: center;
    padding: 5px;
}

footer #Empresa img {
    width: 250px;
}

footer #map {
    height: 200px;
    width: 100%;
    padding: 5px;
}

footer #Contatos {
    width: 100%;
    margin: 10px;
}

footer #Contatos img {
    width: 25px;
}

footer #Contatos p {
    display: inline;
}

footer #Direitos {
    text-align: center;
}