@media (max-width: 767px) {
    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: var(--corAzulMaisEscuro);
        height: auto;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
        z-index: 1;
        height: 100%;
    }

    nav ul.open {
        left: 0;
    }

    nav ul li {
        width: 100%;
        padding: 20px 0;
        margin: 0;
    }

    nav ul li a {
        width: 100%;
        font-size: 1.5em;
    }

    nav #MenuHam {
        display: block;
    }
}

@media (min-width: 767px) {

    body p,
    strong,
    a {
        font-size: 1.2rem;
    }

    #Newsletter {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #Newsletter h1,
    p {
        text-align: start;
    }

    #Newsletter article {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
        padding: 10px;
        max-width: 500px;
    }

    #Newsletter #formN {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        max-width: 500px;
    }

    #Newsletter input {
        width: 300px;
        height: 40px;
        margin: 10px;
        padding: 5px;
        border: 1px solid #94d8ff;
        border-radius: 5px;
    }

    footer #containerF {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    footer #containerF #Empresa img {
        width: 200px;
    }
}

@media (min-width: 1024px) {
    body p {
        font-size: 1.3rem;
    }

    body header {
        height: 400px;
        padding: 15px 15px 15px 30px;
    }

    #Newsletter {
        padding: 20px;
    }

    #Newsletter div {
        width: 40%;
    }

    #Newsletter form {
        width: 40%;
    }

    footer #containerF {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
        font-size: 1rem;
    }

    footer p {
        font-size: 0.9rem;
    }
}