@media (max-width: 767px){
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: var(--corAzulMaisEscuro);
        height: auto;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
        z-index: 1;
    }
    nav ul.open{
        left: 0;
    }
    nav ul li{
        width: 100%;
        padding: 20px 0;
        margin: 0;
    }
    nav ul li a {
        width: 100%;
        font-size: 1.5em;
    }
    nav #MenuHam{
        display: block;
    }
}
@media (min-width: 767px){
    header{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0px;
    }
    header h1{
        width: 50%;
        text-align: center;
        font-size: 1.75rem;
    }
    header #LogoG{
        height: 150px;
        width: auto;
    }
    #container{
        height: 500px;
    }
    #texto{
        background-color: #00000000;
        width: 50%;
        box-shadow: 5px 5px 5px #00000000;
    }    
    #texto h2{
        font-size: 1.2rem;
        font-weight: bolder;
    }
    #texto div{
        width: auto;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: start;
    }
    #texto div #tema{
        border: 1px solid #000000;
        padding: 5px 20px;
        margin: 5px;
        text-align: center;
    }
    #texto div p{
        padding: 5px;
        margin: 5px;
        text-align: center;
        font-size: 0.8rem;
    }
    #texto p{
        margin: 10px;
        font-size: 0.8rem;
    }
    #categorias article a{
        width: 50%;
        max-width: 250px;
    }
    #Materias{
        margin: 0;
        padding: 0;
    }
    #Materias article{
        display: grid;
        grid-template-columns: 40% 40% 20%;
    }
    #Materias article a{
        width: auto;
        margin: 20px 20px 0 0;
    }
    #Materias article aside{
        background-color: aliceblue;
        height: 100%;
        width: 100%;
        display: block;
    }
    #Materias a{
        width: 40%;
    }
    #Materias article #asideMobile{
        display: none;
    }
    #Newsletter{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    #Newsletter div{
        width: 40%;
    }
    #Newsletter form{
        width: 50%;
    }
    #Newsletter form input{
        width: 300px;
        height: 40px;
        margin: 10px;
        padding: 5px;
        border: 1px solid #94d8ff;
        border-radius: 5px;
    }
    footer #container{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
@media (min-width: 1024px){
    header{
        max-width: 1000px;
        max-height: 300px;
    }
    header #LogoG{
        height: 200px;
        width: auto;
    }
    #categorias{
        max-width: 1000px;
    }
    #categorias article a{
        width: 150px;
    }
    #Materias{
        max-width: 1000px;
        padding: 0;
    }
    #Materias a{
        padding: 0;
        margin: 10px 0px 0px 0px;
    }
    #Newsletter{
        padding: 20px;
    }
    #Newsletter div{
        width: 40%;
    }
    #Newsletter form{
        width: 40%;
    }
    footer #containerF{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
        font-size: 1rem;
    }
}